body {

  background-image: "";

}


#gameWindow {

  display: inline-block;
  background-color: black;
  height: 400px;
  width: 800px;
  text-align: center;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#startWindow {

  display: inline-block;
  background-color: black;
  height: 400px;
  width: 800px;
  text-align: center;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

#startText{
  color:rgb(0, 255, 0);
  font-family: Consolas;
  position: absolute;
  top: 40%;
  left: 38%;
}

#theOne {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 87%;
}

#codeHall {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 87%;
}

#optionsWindow {
  display: inline-block;
  background-color: rgb(202, 200, 200);
  height: 500px;
  width: 250px;
  text-align: center;
  overflow: hidden;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 15%;
  -ms-transform: translate(-50%, -15%);
  transform: translate(-50%, -50%);
}

#scoreWindow {
  display: inline-block;
  background-color: rgb(202, 200, 200);
  height: 500px;
  width: 250px;
  text-align: center;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 85%;
  -ms-transform: translate(-50%, -15%);
  transform: translate(-50%, -50%);
}

#player {
  height: 80px;
  width: 20px;
  position: absolute;
  background-color: #283593 ;
  color: blue;

}

#agent {
  height: 80px;
  width: 20px;
  position: absolute;
  background-color: rgb(248, 248, 255);
  color: blue;

}

#agentArm {
  height: 8px;
  width: 25px;
  position: absolute;
  background-color: rgb(248, 248, 255);
}

#gun {
  height: 10px;
  width: 20px;
  position: absolute;
  background-color: rgb(248, 248, 255);
}

#bullet {
  height: 5px;
  width: 7px;
  position: absolute;
  background-color: rgb(137, 137, 202);
}

#score {
  color: white;
  font-size: 40px;
}


/* #music {

} */